#comments {
    width: 50%;
    height: 100px;
    resize: none;
}

.grades-view {
    margin: 120px 50px 50px;
}

.unavailable {
    text-align: center;
}

select {
    display: inline-block;
    width: 30%;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #fff;
}

select:hover, select:active, select:focus {
    background: #f8f8f8;
}