.enrolled {
    margin-top: 120px;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
	width: 40%;
    background-color: white;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    min-height: 400px;
}

.enrolled h1 {
    padding-left: 3%;
    padding-right: 3%;
    margin: 1%;
    border-bottom: 2px solid green;
}

.enrolled:hover h1 {
    border-bottom-color: green;
    box-shadow: 0 5px 5px -5px green;
}

.completed {
    margin-top: 120px;
    float: left;
    width: 50%;
    background-color: white;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    min-height: 400px;
}

.completed h1 {
    padding-left: 3%;
    padding-right: 3%;
    margin: 1%;
    border-bottom: 2px solid green;
}

.completed:hover h1 {
    border-bottom-color: green;
    box-shadow: 0 5px 5px -5px green;
}

.current-courses label {
    font-size: 24px;
    padding-left: 5%;
    padding-right: 5%;
}

.completed-courses label {
    font-size: 24px;
    padding-left: 5%;
    padding-right: 5%;
}

.completed-courses button {
    border: none;
    padding: 5px 40px;
    font-size: 18px;
    transition: background-color 0.15s linear;
    background-color: green;
    color: white;
    margin-left: 5%;
    margin-top: 10px;
}

.completed-courses button:hover,.form button:active,.form button:focus {
    background-color: darkgreen;
}