.flex {
  display: flex;
}

.absolute {
  position: absolute;
}

.horizontalCentre {
  flex-direction: row;
  justify-content: center;
}

.verticalCentre {
  flex-direction: column;
  justify-content: center;
}

.fillContainer {
  width: 100%;
  height: 100%;
}

.skipNavBar {
  margin-top: 75px;
}

.shownF {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: row;
}

.vScrollable {
  overflow-y: auto;
}

.fill {
  width: 100%;
}

.administratorText {
  color: crimson;
}

.teacherText {
  color: royalblue;
}

.volunteerText {
  color: #ffa801;
}

.studentText {
  color: green;
}

.reverseWrap {
  flex-wrap: wrap-reverse;
}

.flexWrap {
  flex-wrap: wrap;
}

.centreText {
  text-align: center;
}

.leftAText {
  text-align: left;
}

.defaultShadow {
  box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.2);
}

.flexContentContainerGeneric {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
