.administrator {
  background-color: darkred;
}

.teacher {
  background-color: darkblue;
}

.volunteer {
  background-color: goldenrod;
}

.student {
  background-color: green;
}

#topBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  height: 50px;
}

#typer {
  position: absolute;
  height: 100%;
  padding: 0 10px 0 10px;
  left: 1%;
  text-decoration: none;
  color: white;
  font-size: 42px;
  background-color: transparent;
}

#typer:hover {
  text-shadow: 0 0 10px white;
  transition: all 0.25s ease-in-out;
}

#logoutB {
  position: absolute;
  padding: 50% 10px 0px 10px;
  height: 50%;
  bottom: 0;
  right: 1%;
  float: right;
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: transparent;
}

#logoutB:hover {
  text-shadow: 0 0 10px white;
  transition: all 0.25s ease-in-out;
}
